body{
    font-family: 'Poppins', sans-serif;
}

h2{
    display: flex;
    width: fit-content;
    text-align: center;
}

nav{
    margin:auto;
    font-size: 25px;
    background-color:rgb(236, 174, 198);  
}

h1{
    text-align: center;
}

body{
    background-color:rgb(236, 174, 198);
}
